<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Linked Data Server</display-name>
	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>es.eurohelp.lod.server.DefaultServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SparqlServlet</servlet-name>
		<servlet-class>es.eurohelp.lod.server.SparqlServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SparqlServlet</servlet-name>
		<url-pattern>/sparql</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>es.eurohelp.lod.server.ResourceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resource/*</url-pattern>
		<url-pattern>/public-sector/*</url-pattern>
	</servlet-mapping>
</web-app>