<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>LinkedDataServer</servlet-name>
		<servlet-class>es.eurohelp.opendata.LinkedDataServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkedDataServer</servlet-name>
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
    	<param-name>internal-uri-base</param-name>
    	<param-value>http://opendata.euskadi.eus/</param-value>
	</context-param>
	<context-param>
    	<param-name>sparql-endpoint-query-url</param-name>
    	<param-value>http://ckan.eurohelp.es:7200/repositories/opendata-euskadi?query=</param-value>
	</context-param>
</web-app>